.sub {
  position: absolute;
  width: 100%;
  height: 5rem;
  top: 3rem;
  z-index: 1;
}

.sub__ticker {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #eeeeee;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

.sub__ticker__text {
  line-height: 14px;
  font-size: 14px;
  vertical-align: middle;
  margin-left: 3em;
  padding-top: 5px;
  height: 3rem;
}

.content__tab {
  position: fixed;
  margin-top: 3rem;
  margin-left: 3rem;
  width: calc(100% - 3rem);
}
