[submodule "submodules/wetty"]
	path = submodules/wetty
	url = git@github.com:butlerx/wetty.git
[submodule "submodules/seldon-core"]
	path = submodules/seldon-core
	url = git@github.com:SeldonIO/seldon-core.git
[submodule "submodules/clipper"]
	path = submodules/clipper
	url = git@github.com:ucbrise/clipper.git
[submodule "submodules/minio-radio"]
	path = submodules/minio-radio
	url = git@github.com:minio/radio.git
[submodule "submodules/jupiter"]
	path = submodules/jupiter
	url = git@github.com:ANRGUSC/Jupiter.git
[submodule "submodules/hypermerge"]
	path = submodules/hypermerge
	url = git@github.com:automerge/hypermerge.git
[submodule "submodules/kompose"]
	path = submodules/kompose
	url = git@github.com:kubernetes/kompose.git
[submodule "submodules/tf-operator"]
	path = submodules/tf-operator
	url = git@github.com:kubeflow/tf-operator.git
[submodule "submodules/hyperdrive"]
	path = submodules/hyperdrive
	url = git@github.com:mafintosh/hyperdrive.git
[submodule "submodules/rclone"]
	path = submodules/rclone
	url = git@github.com:rclone/rclone.git
[submodule "submodules/dat"]
	path = submodules/dat
	url = git@github.com:datproject/dat.git
[submodule "submodules/razee"]
	path = submodules/razee
	url = git@github.com:razee-io/Razee.git
[submodule "submodules/egeria"]
	path = submodules/egeria
	url = git@github.com:odpi/egeria.git
[submodule "submodules/volcano"]
	path = submodules/volcano
	url = git@github.com:volcano-sh/volcano.git
[submodule "submodules/kube-batch"]
	path = submodules/kube-batch
	url = git@github.com:kubernetes-sigs/kube-batch.git
[submodule "submodules/istio-admiral"]
	path = submodules/istio-admiral
	url = git@github.com:istio-ecosystem/admiral.git
[submodule "submodules/descheduler"]
	path = submodules/descheduler
	url = git@github.com:kubernetes-sigs/descheduler.git
[submodule "submodules/autoscaler"]
	path = submodules/autoscaler
	url = git@github.com:kubernetes/autoscaler.git
[submodule "submodules/metrics-server"]
	path = submodules/metrics-server
	url = git@github.com:kubernetes-sigs/metrics-server.git
[submodule "submodules/minio"]
	path = submodules/minio
	url = git@github.com:minio/minio.git
[submodule "submodules/minio-mc"]
	path = submodules/minio-mc
	url = git@github.com:minio/minio.git
[submodule "submodules/SyADFS"]
	path = submodules/SyADFS
	url = git@github.com:sylabs/SyADFS.git
[submodule "submodules/poseidon"]
	path = submodules/poseidon
	url = git@github.com:kubernetes-sigs/poseidon.git
[submodule "submodules/gsctl"]
	path = submodules/gsctl
	url = git@github.com:giantswarm/gsctl.git
[submodule "submodules/kubeflow"]
	path = submodules/kubeflow
	url = git@github.com:kubeflow/kubeflow.git
[submodule "submodules/minikube"]
	path = submodules/minikube
	url = git@github.com:kubernetes/minikube.git
[submodule "submodules/kubefed"]
	path = submodules/kubefed
	url = git@github.com:kubernetes-sigs/kubefed.git
[submodule "submodules/gsctl-kvm-operator"]
	path = submodules/gsctl-kvm-operator
	url = git@github.com:giantswarm/kvm-operator.git
[submodule "submodules/dat-shell"]
	path = submodules/dat-shell
	url = git@github.com:millette/dat-shell.git
