# ignore node modules
node_modules/

# ignore nginx config details
nginx/

# ignore build folder in production
build/

# ignore .env files 
.env

# ignore DS Store - only in MacOS anyway...
.DS_Store

