.update {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.update__heading {
  margin-top: 70px;
  text-align: center;
  font-size: 28px;
  color: #fff;
}

@media (max-width: 400px) {
  .update__heading {
    display: none;
  }
}

.update__email {
  margin-top: 60px;
  color: rgb(217, 216, 255);
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}

.verified {
  margin-left: 10px;
  color: rgb(2, 111, 2);
}

.not-verified {
  margin-left: 10px;
  color: rgb(255, 142, 142);
}

.update__verify {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: rgb(189, 187, 255);
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 600px) {
  .update__email {
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .update__email {
    font-size: 17px;
  }
}

.update__container {
  height: auto;
  width: 100%;
  display: flex;
}

@media (max-width: 600px) {
  .update__container {
    display: grid;
  }
}

.update__container__password {
  margin-top: 40px;
  position: relative;
  display: grid;
  width: 240px;
  height: 178px;
  margin-left: calc(50% - 200px);
}

@media (max-width: 600px) {
  .update__container__password {
    margin-left: calc(50% - 120px);
  }
}

.update__container__password__field {
  display: inline-block;
  box-shadow: none;
  margin-right: 24px;
  width: 240px;
  height: 35px;
}

.update__container__password__field__input {
  color: rgba(237, 237, 237, 1);
  margin-top: 12px;
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(237, 237, 237, 1);
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
  text-align: left;
}

@media (max-width: 600px) {
  .update__container__password__field__input {
    text-align: center;
    font-size: 18px;
  }
}

.update__container__password__field__input::placeholder {
  color: rgba(237, 237, 237, 1);
}

.update__container__password__field__input--error {
  border-bottom: 1px solid #d56666;
}

.update__container__password__field__error {
  color: #d56666;
  padding-top: 4px;
  text-align: left;
  font-size: 14px;
}

@media (max-width: 600px) {
  .update__container__password__field__error {
    text-align: center;
  }
}

.update__container__password__btn {
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  margin: 0;
  margin-left: 20px;
  margin-top: 164px;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  outline: 0;
  border-radius: 2px;
  line-height: 50px;
  border: 2px solid rgba(237, 237, 237, 1);
}

@media (max-width: 600px) {
  .update__container__password__btn {
    padding: 0;
    margin-left: 0;
    margin-top: 40px;
    width: 250px;
    margin-left: calc(50% - 125px);
  }
}
.update__container__password__btn:hover {
  background: #eee;
  color: #333;
}
.update__container__password__btn:active {
  color: #fff;
}

.update__cancel {
  margin-top: 40px;
  text-align: center;
}

.update__cancel__link {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 600px) {
  .update__cancel__link {
    font-size: 16px;
  }
}

.update__btn {
  margin-top: 30px;
  margin-left: calc(50% - 200px);
  margin-bottom: 30px;
  width: 400px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  border: 0px;
  border-radius: 7px;
  background-color: #990f02;
  cursor: pointer;
}

@media (max-width: 600px) {
  .update__btn {
    width: 300px;
    margin-left: calc(50% - 150px);
  }
}

.update__logout {
  margin-top: 60px;
  background-color: #f4f4f4;
  color: #333;
}

@media (max-width: 600px) {
  .update__logout {
    margin-top: 30px;
  }
}

.update__logout__error {
  height: 40px;
  width: 200px;
  margin-left: calc(50% - 100px);
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: #d56666;
}

.delete__container {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.delete__container__field {
  width: 300px;
  margin-left: calc(50% - 150px);
}

.delete__container__field__input {
  color: rgba(237, 237, 237, 1);
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(237, 237, 237, 1);
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
  text-align: left;
}

.delete__container__field__input--error {
  border-bottom: 1px solid #d56666;
}

.delete__container__btn {
  width: 300px;
  height: 48px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin-left: calc(50% - 150px);
  margin-top: 40px;
  line-height: 48px;
  background-color: #990f02;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

.cancel__container__btn {
  background-color: #fff;
  color: #333;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .update__heading {
    font-size: 1.2rem;
  }
}

@media (max-width: 560px) {
  .update__heading {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .update__form__label__text {
    font-size: 16px;
  }

  .update__form__input {
    width: 300px;
    font-size: 14px;
    margin-left: calc(50% - 150px);
  }

  .update__form__btn {
    margin-left: calc(50% - 150px);
    width: 300px;
    font-size: 16px;
  }
}
