.loginForm {
  position: relative;
  height: calc(100% - 40px);
  background-color: #070708;
}

.loginForm__container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loginForm__container__field {
  width: 240px;
}

@media (max-width: 500px) {
  .loginForm__container__field__input {
    text-align: center;
    padding: 0;
    margin-top: 15px;
  }
}

.loginForm__container__field__input--error {
  border-bottom: 1px solid #d56666;
}

.loginForm__container__field__error {
  color: #d56666;
  margin-top: 4px;
  text-align: left;
  font-size: 14px;
}

@media (max-width: 500px) {
  .loginForm__container__field__error {
    text-align: center;
  }
}

.loginForm__container__field__reset {
  text-align: left;
}

@media (max-width: 500px) {
  .loginForm__container__field__reset {
    text-align: center;
    margin-top: 8px;
  }
}

.loginForm__container__field__reset__link {
  color: #eee;
  font-size: 14px;
}

.loginForm__container__field__btn {
  margin-top: 30px;
  margin-left: calc(50% - 66px);
}

@media (max-width: 500px) {
  .loginForm__container__field__btn {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-left: 0;
  }
}
