@import '../../../global-styles/partials/global';

.headerLinks {
  margin: 0px 30px 0 auto;
  z-index: 100000;

  .headerLinks__list {
    margin: 0 20px 0 auto;
    height: $nav-height;
    font-size: 14px;

    .headerLinks__list__item {
      box-sizing: border-box;
      cursor: pointer;
      height: $nav-height;
      display: inline-block;
      line-height: 50px;
      margin-left: 30px;

      .headerLinks__list__item__link {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
      }
    }
  }

  @media (max-width: 650px) {
    .headerLinks__list {
      display: none;
    }
  }
}
