body, div {
  margin: auto;
}

.main-div {
  position: relative;
  border: 3px solid red;
}

.black {
  background-color: black;
}

.transform {
  outline-color: white;
}

.invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
