// @import '~carbon-components/scss/globals/scss/styles.scss';
// @import '~carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';

.landing-footer {
  float: none;
  text-align: center;
  height: 70px;
  line-height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #1b1b1b;
}

.landing-footer-link {
  position: relative;
  padding: 0 25px;
  font-size: 14px;
  font-weight: 400;
  color: #f4f7fb;
  text-decoration: none!important;

}
