@import '../../../global-styles/partials/global';

.profile {
  position: relative;
  padding: 20px 20px 20px 30px;

  .profile__container {
    position: relative;
    margin-bottom: 40px;
    height: 720px;

    .profile__container__header {
      margin-top: 10px;

      .profile__container__header__heading {
        font-size: 26px;
      }

      .profile__container__header__creationTime {
        padding-bottom: 0px;
        font-size: 12px;

        border-bottom: 1px solid rgb(75, 78, 84);
      }

      .profile__container__header__toggle {
        position: absolute;

        display: flex;
        font-size: 12px;

        /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 20px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: '';
          height: 16px;
          width: 16px;
          left: 2px;
          bottom: 2px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #313131;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(16px);
          -ms-transform: translateX(16px);
          transform: translateX(20px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 20px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }

    .profile__container__user {
      margin-top: 30px;
      font-size: 18px;

      .email-verified {
        margin-left: 40px;
        color: rgb(23, 101, 23);
      }

      .email-not-verified {
        margin-left: 40px;
        color: rgb(145, 30, 30);
      }

      @media (max-width: 460px) {
        .email-verified {
          display: grid;
          margin-left: 0;
        }

        .email-not-verified {
          display: grid;
          margin-left: 0;
        }
      }

      .verification-link {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }

      .verification-link:hover {
        color: rgb(181, 181, 181);
      }

      .verification-link:active {
        color: #333;
      }

      .update-notification {
        font-size: 14px;
        font-weight: 400;
        color: rgb(32, 127, 32);
      }

      .verification-link--error {
        font-size: 14px;
        font-weight: 400;
        color: #d56666;
      }

      .profile__container__user__password {
        margin-top: 10px;

        .profile__container__user__password__btn {
          font-weight: bold;
          cursor: pointer;
          font-size: 18px;
        }

        .profile__container__user__password__btn:hover {
          color: rgb(181, 181, 181);
        }

        .profile__container__user__password__btn:active {
          color: #333;
        }

        .profile__container__user__password__field {
          margin-left: 20px;
          margin-bottom: 10px;
          width: 250px;

          .profile__container__password__field__input--error {
            border-bottom: 1px solid $primary-field-error;
          }

          .profile__container__password__field__error {
            color: $primary-field-error;
            text-align: left;
            font-size: 14px;
          }
        }

        @media (max-width: 460px) {
          .profile__container__user__password__field {
            margin-left: 0;
          }
        }
      }
    }

    .profile__container__footer {
      position: absolute;
      padding-top: 10px;
      bottom: 0px;
      height: 160px;
      width: 100%;
      border-top: 1px solid rgb(75, 78, 84);

      .profile__container__footer__btn {
        font-size: 16px;
        cursor: pointer;

        font-weight: bold;
      }

      .profile__container__footer__btn:hover {
        color: rgb(181, 181, 181);
      }

      .profile__container__footer__btn:active {
        color: #333;
      }

      .logout {
        display: inline-block;
      }

      .logout-error {
        color: $primary-field-error;
        text-align: left;
        font-size: 14px;
      }

      .profile__container__footer__confirm {
        display: flex;
        width: 460px;
      }

      .profile__container__footer__confirm > div {
        margin-left: 50px;
      }

      @media (max-width: 550px) {
        .profile__container__footer__confirm {
          display: grid;
          width: 100%;

          padding-bottom: 80px;
        }

        .profile__container__footer__confirm > input {
          width: 240px;
        }
        .profile__container__footer__confirm > div {
          width: 200px;
          margin-top: 25px;
          margin-left: 0px;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .profile__container {
      height: 780px;
    }
  }

  @media (max-width: 440px) {
    .profile__container {
      height: 830px;
    }
  }
}
