div {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}

h1 {
  font-weight: 400;
  padding: 0 0 15px;
}

form, span {
  font-size: inherit;
}

input {
  border-radius: 0;
  color: #323232;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.625;
  padding: 0 0 15px;
}

a {
  color: #1268fb;
}

/*.application {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.masthead {
  position: relative;
  transform: translate3d(0,0,0);
  background-color: #fff;
  top: 10px;
  width: 100%;
  z-index: 900;
}
.content-body {
  padding-top: 0;
  background-color: #f4f4f4 !important;
  height: 100%;
}

.modal-wrap {
  margin: auto;
  object-fit: contain;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 568px;
}
*/
.modal-form {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 380px;
  height: 219px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
  padding: 25px 0 0 33px;
  box-sizing: border-box;
  display: inline-block;
}

.modal-form .form-heading {
  font-size: 30px;
}

.sp-h2 {
  line-height: 2.1875rem;
}

.row-form {
  max-width: 400px;
  padding: 24px 0;
}

.input-container {
  padding-bottom: 24px;
}

.row-form label {
  padding-bottom: 5px;
  display: block;
}

.row-form label span {
  display: inline;
  margin: 0;
}

.fright {
  float: right !important;
}

.row-form input {
  border: 1px solid #959f9f;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px transparent inset;
  font-style: normal;
  height: 2.5em;
  line-height: 2.5em;
  margin: 0;
  max-width: 100%;
  text-indent: 10px;
  transition: .3s border-color, .3s background, .3s box-shadow;
  width: 100%;
}

.continue-button {
  background-color: #0062ff;
  border-color: #0062ff;
  outline-color: #0062ff;
  width: 190px;
  max-width: 100%;
  text-align: left;
  margin: 8px 0 8px 3px;
  border: 1px solid;
  min-width: 160px;
  outline: 3px solid;
}

.red-text {
  color: red;
}






/*  */
