.verify {
  margin-top: 150px;
  padding-top: 25px;
  height: 150px;
  width: 100%;
  text-align: center;
}

.verify__heading {
  color: #000;
}

.verify__container {
  margin-top: 64px;
  height: 150px;

  display: flex;
}

.verify__container__field {
  position: relative;
  display: grid;
  width: 240px;
  height: 150px;
  margin-left: calc(50% - 200px);
}

.verify__container__field__input {
  display: inline-block;
  box-shadow: none;
  margin-right: 24px;
  width: 240px;
  height: 35px;
}

.verify__container__field__input__text {
  color: #000;
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #000;
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
  text-align: left;
}

.verify__container__field__input__text::placeholder {
  color: #999;
}

.verify__container__field__input__text--error {
  border-bottom: 1px solid #d56666;
}

.verify__container__field__error {
  color: #d56666;
  margin-top: 4px;
  text-align: left;
  font-size: 14px;
}

.verify__container__btn {
  position: relative;
  width: 140px;
  height: 54px;
  margin: 0;
  margin-left: 20px;
  margin-top: 54px;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  background: transparent;
  padding: 0 28px;
  text-align: center;
  white-space: nowrap;
  outline: 0;
  border-radius: 2px;
  line-height: 54px;
  border: 2px solid #000;
}

.verify__container__btn:hover {
  background: #333;
  color: #fff;
}
.verify__container__btn:active {
  color: #000;
}

.verify__signin {
  margin-top: 30px;
  height: 40px;
}

.verify__signin__btn {
  height: 40px;
  width: 200px;
  font-size: 18px;
  cursor: pointer;
  background-color: #fff;
  border-radius: #000;
}

.verify__email {
  color: green;
  padding-top: 10px;
}

.verify__form {
  margin-left: calc(50% - 150px);
  width: 300px;
  display: flex;
}
.verify__form__input {
  margin-top: 60px;
  width: 300px;
  height: 45px;
  font-size: 16px;
  padding-left: 10px;
  color: #fff;
  border: 0px;
  border-radius: 7px;
  background-color: #333;
}

.verify__form__btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #333;
  border: 0px;
  border-radius: 7px;
  background-color: #eee;
}
