.alpha {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #111114;
  overflow: scroll;
  padding-bottom: 40px;
}

.alpha__header__login {
  height: 40px;
  width: 60px;
  margin-right: 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

.alpha__header__login__avatar {
  font-size: 16px;
  cursor: pointer;
}

.alpha__header__panel {
  top: 40px;
  height: calc(100% - 40px);
  overflow: scroll;
  background-color: #070708;
  border-left: #070708;
  border-right: #070708;
  transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 8000;
  width: 0;
  color: #c6c6c6;
  border: none;
  transition: width 0.11s;
  will-change: width;
}

.alpha__header__panel--expanded {
  width: 600px;
}

@media (max-width: 800px) {
  .alpha__header__panel--expanded {
    width: 100%;
  }
}
.alpha__login__close {
  padding: 10px 20px;
}

@media (min-width: 800px) {
  .alpha__login__close {
    display: none;
  }
}

.alpha__login__close__btn {
  font-size: 28px;
  color: rgb(217, 216, 255);
}

.alpha__header__link {
  height: 40px;
  width: 60px;
  margin-right: 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: rgb(217, 216, 255);
}

.alpha__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.alpha__container__sub {
  font-size: 24px;
  color: #333;
}

.alpha__container__tag {
  margin-top: 80px;
  font-size: 30px;
  color: #333;
}

@media (max-width: 750px) {
  .alpha__container__sub {
    font-size: 20px;
  }

  .alpha__container__tag {
    font-size: 26px;
  }
}

@media (max-width: 600px) {
  .alpha__container__sub {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .alpha__container__sub {
    font-size: 14px;
  }
  .alpha__container__tag {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .alpha__container__sub {
    padding: 0px 15px 0px 15px;
  }
}
