@import '../../global-styles/partials/global';

.grid {
  margin-top: 18px;
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  justify-content: space-around;
}
.cell {
  flex: 0 0 32%; /* don't grow, don't shrink, width */
  height: 50px;
  margin-bottom: 5px;
  text-align: center;
}
.social {
  margin-top: 10px;
  font-size: 40px;
  height: $nav-height;
  line-height: $nav-height;
  color: $primary-light-color;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.header__links__item {
  font-weight: 600;
  font-size: 14px;
  height: $nav-height;
  line-height: $nav-height;
  width: 70px;
  float: left;
}
.header__switcher {
  position: fixed;
  top: $nav-height;
  width: 300px;
  z-index: 8000;
  height: 0;
  overflow: scroll;
  left: calc(100% - 400px);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: $primary-background-color;
}

.header__switcher--expanded {
  height: 200px;
}

@media (max-width: 584px) {
  .header__switcher {
    display: none;
  }
}
