@import '../../global-styles/partials/global';

.footer {
  float: none;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10000;

  .footer__social {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 30%;
    padding-left: 5%;
    overflow: visible;

    .footer__social__btn {
      font-size: 14px;
      float: left;
      margin-left: 15%;
    }

    .mobile-view {
      display: none;
    }

    @media (max-width: 960px) {
      .mobile-view {
        display: block;
      }
    }
  }

  @media (max-width: 960px) {
    .footer__social {
      width: calc(100% - 160px);
      padding: 0;

      .footer__social__btn {
        margin-left: 10%;
      }

      .fa-medium {
        display: none;
      }
      .fa-gitlab {
        display: none;
      }
      .fa-twitter-square {
        display: none;
      }
    }
  }
  .footer__references {
    position: absolute;
    height: 40px;
    width: 100%;
    margin-left: 0;

    .footer__references__link {
      padding: 0 25px;
      font-size: 14px;
      font-weight: 400;

      text-decoration: none !important;
    }
  }

  @media (max-width: 960px) {
    .footer__references {
      display: none;
    }
  }

  .footer__copyright {
    float: right;
    padding-right: 5%;
    width: 150px;
    font-size: 14px;
    text-decoration: none !important;
  }
}
