.button {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  text-align: center;
  white-space: nowrap;
  outline: 0;
  user-select: none;
  cursor: pointer;
  color: #f4f4f4;
  background: transparent;
  border: 2px solid rgba(237, 237, 237, 1);
  border-radius: 2px;
}

.button:hover {
  background: #f4f4f4;
  color: #070708;
}

.button:active {
  background: #f4f4f4;
  color: #fff;
}

.button--lg {
  padding: 0 28px;
  font-size: 20px;
  font-weight: 600;
}

.button--sm {
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
}
