@import './partials/_global';

.lightTheme {
  .inputText {
    color: $primary-dark-text-color;
    border-radius: 0;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    width: 100%;
    background: 0 0;
    border: none;
    border-bottom: 1px solid rgba(237, 237, 237, 1);
    outline: 0;
    padding: 0;
    text-rendering: auto;
    letter-spacing: normal;
    appearance: textfield;
    text-align: left;
    line-height: 30px;
    padding-left: 3px;
    padding-top: 22px;
    width: 100%;
  }

  .inputText::placeholder {
    color: rgb(102, 102, 102);
  }
}

.inputText {
  color: rgba(237, 237, 237, 1);
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(237, 237, 237, 1);
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
  text-align: left;
  line-height: 30px;
  padding-left: 3px;
  padding-top: 22px;
  width: 100%;
}

.inputText::placeholder {
  color: rgba(237, 237, 237, 1);
}

.inputText--lg {
  font-size: 20px;
  font-weight: 500;
}

.inputText--sm {
  font-size: 18px;
}
