body, div {
  margin: auto;
}

.main-div {
  position: relative;
  border: 3px solid red;
}

.black {
  position: relative;
  background-color: #000;
  color: white;
  margin-bottom: 3rem;
}

.transform {
  outline-color: white;
}

.invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.link {
  color: #fff;
}

.header--link {
  color: #c6c6c6;
  text-decoration: none;
  transition: background-color 110ms, border-color 110ms, color 110ms;
  user-select: none;
}

/* clean up below css at some point */
.sidenav__item {
  padding-left: 4.5rem;
  outline: 2px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  letter-spacing: 0.1px;
  line-height: 1.25rem;
  user-select: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 2rem;
}
.sidenav--link {
  text-decoration: none;
  color: #525252;
}
