.headerLinks {
  margin: 0px 80px 0 auto;
  z-index: 100000;
}

/* Header Links Element */
.header__list {
  margin: 0 20px 0 auto;
  height: 2rem;
  font-size: 14px;
}
.header__list__item {
  box-sizing: border-box;
  cursor: pointer;
  height: 2rem;
  display: inline-block;
  margin-left: 30px;
}

.header__list__item__link {
  text-decoration: none;
  color: #fff;
}
.header__list__btn {
  display: inline-block;
  height: inherit;
  margin-left: 40px;
  z-index: 10000;
}
/* Header Buttons Element */
.header__list__btn__login {
  color: #fff;
  font-size: 16px;
}

.header__list__btn__signup {
  border: 2px solid #f4f7fb;
  margin-left: 1.75rem;
  box-sizing: border-box;
  padding: 6px 16px;
  display: inline;
  font-size: 14px;
  font-weight: 400;
  color: #f4f7fb;
  background-color: transparent;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media (max-width: 1050px) {
  .header__list {
    width: 300px;
  }

  .headerLinks {
    margin: 0px 0px 0 auto;
    z-index: 100000;
  }
}

@media (max-width: 700px) {
  .header__list {
    display: none;
  }
}
