.headerLinks {
  margin: 0px 30px 0 auto;
  z-index: 100000;
}

/* Header Links Element */
.headerLinks__list {
  margin: 0 20px 0 auto;
  height: 40px;
  font-size: 14px;
}
.headerLinks__list__item {
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  display: inline-block;
  margin-left: 30px;
}

.headerLinks__list__item__link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/* MEDIA QUERIES */
@media (max-width: 1050px) {
  .header__list {
    width: 300px;
  }

  .headerLinks {
    margin: 0px 0px 0 auto;
    z-index: 100000;
  }
}

@media (max-width: 700px) {
  .header__list {
    display: none;
  }
}
