@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&family=Roboto&display=swap");

.main__descriptive {
  color: #fff;
}

.main__descriptive__title {
  color: #f1f1f1;
  height: 36px;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  font-style: italic;
}

/* Main Offering Element */
.main__offering {
  background-color: transparent;
  width: 90%;
  margin-top: 400px;
  margin-left: 5%;
  justify-content: center;
  z-index: -10000;
}

.main__offering__card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 240px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  /* z-index: -100000; */
}

.main__offering__card__name {
  padding-top: 16px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  height: 2.5rem;
  background-color: #070708;
  opacity: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main__offering__card__description {
  width: 100%;
  height: 175px;
  margin-top: 0px;
  font-size: 17px;
  line-height: 2;
  text-align: left;
  color: #070708;
  background-color: #e4e4e4;
  font-weight: 800;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: scroll;
  font-family: "Roboto";
}
.main__offering__card__description:hover {
  opacity: 1;
}

.main__offering__card__learnmore {
  margin-top: 65px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
}
.main__offering__card__learnmore__link {
  text-decoration: none !important;
  font-weight: 400 !important;
  color: #3d70b2;
  cursor: pointer;
}

.main__offering .slick-dots li button {
  color: #fff;
}

/* MEDIA QUERIES */

@media (max-width: 1050px) {
  .main__offering {
    display: none;
  }
  .main__offering--mobile {
    background-color: transparent;
    width: 90%;
    /* margin-top: -80px; */
    margin-left: 5%;
    justify-content: center;
    z-index: 10000;
    display: grid;
    margin-top: 380px;
  }
  .main__offering__card__description {
    text-align: center;
    font-size: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media (min-width: 1050px) {
  .main__offering--mobile {
    display: none;
  }
}

@media (max-width: 750px) {
  .main__offering--mobile {
    margin-top: 300px;
  }
}
@media (max-height: 545px) {
  .main__offering {
    display: none;
  }
  .main__offering--mobile {
    background-color: transparent;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    z-index: 10000;
    display: grid;
  }
  .main__offering__card__description {
    text-align: center;
    font-size: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media (max-width: 700px) {
  .main__offering--mobile {
    width: 100%;
    margin-left: 0;
  }
  .main__offering__card {
    margin-left: 3px;
    margin-right: 3px;
  }
  .main__offering__card__name {
    opacity: 1;
    background-color: #333;
  }
  .main__offering__card__description {
    width: 100%;
    color: #0c0c0c;
    /* background-color: #f0faf9; */
    height: 225px;
    margin-bottom: 40px;
  }
}
