$font-stack: 'Raleway', sans-serif;
$primary-light-color: #f4f4f4;
$primary-dark-text-color: #333;
$primary-background-color: #070708;
$primary-btn-color: rgba(237, 237, 237, 1);
$primary-btn-border: 2px solid rgba(237, 237, 237, 1);
$primary-field-error: #d56666;
$nav-height: 50px;

.lightTheme {
  background-color: $primary-light-color;
  color: $primary-dark-text-color;
}

.darkTheme {
  background-color: $primary-background-color;
  color: $primary-light-color;
}
