// Main Dnd Container Styles
.container {
  margin-top: 30px;
  padding-bottom: 100px;
  display: grid;
  width: 80%;
  margin-left: 10%;
  height: auto;
  position: absolute;
}

.container__innerList {
  grid-column: auto / span 1;
}

.container__innerList-top {
  //   border: 1px solid blue;
  grid-column: 1 / span 2;
  grid-row: 1;
}

// Column.jsx Styles
.column {
  margin-top: 10px;
  margin-left: calc(50% - 225px);
  border-radius: 2px;
  width: 450px;
  min-width: 450px;
}

.column__top {
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 2px;
  width: 90%;
  min-width: 800px;
}

.task__list {
  min-height: 100px;
}

// Task.jsx Styles
.task {
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
  display: flex;
}

.top {
  height: 180px;
}

.bottom {
  height: 50px;
}
