$element-height: 40px;

.ticker {
  position: absolute;
  width: 100%;
  height: $element-height;
  z-index: 1;

  .ticker__field {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: $element-height;
    background-color: rgb(35, 35, 35);
    opacity: 0.85;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;

    .ticker__field__text {
      line-height: $element-height;
      font-size: 14px;
      vertical-align: middle;
      white-space: nowrap;
      margin-left: 3rem;
      padding-top: 0px;
      height: $element-height;

      a {
        text-decoration: none;
        color: #f4f4f4;
        padding-right: 3rem;
      }
    }
  }
}
