.alpha {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: scroll;
}

.alpha__error {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  color: red;
}

.alpha__header {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10000;
  background-color: #0c0c0c;
  color: #fff;
}

.alpha__container__title {
  color: #fff;
  font-size: 40px;
  width: 100%;
  height: 150px;
  margin-top: 200px;
  text-align: center;
}

.alpha__container__profile {
  margin-top: 100px;
  height: 80px;
  color: #fff;
  text-align: center;
}

.alpha__container__profile__email {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

.alpha__container__profile__update {
  margin-top: 25px;
  font-size: 24px;
}

.alpha__container__profile__update__link {
  color: #fff;
}

.alpha__container__btn {
  text-align: center;
}

.alpha__container__btn__link {
  border: 0;
  height: 30px;
  width: 200px;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  font-weight: 800;
}

@media (max-width: 450px) {
  .alpha__container__heading {
    font-size: 1.8rem;
  }

  .alpha__container__card {
    margin-left: calc(50% - 150px);
    width: 300px;
  }

  .alpha__container__card__text {
    font-size: 16px;
  }
}
