.update {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.update__heading {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.update__password {
  margin-top: 4rem;
  height: 150px;
  display: flex;
}

.update__password__container {
  position: relative;
  display: grid;
  width: 240px;
  height: 150px;
  margin-left: calc(50% - 200px);
}

.update__password__container__input {
  display: inline-block;
  box-shadow: none;
  margin-right: 24px;
  width: 240px;
  height: 35px;
}

.update__password__container__input__text {
  color: rgba(237, 237, 237, 1);
  margin-top: 12px;
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(237, 237, 237, 1);
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
  text-align: left;
}

.update__password__container__input__text__error {
  color: rgba(237, 237, 237, 1);
  /* margin-top: 12px; */
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #ee8d8d;
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
  text-align: left;
}

.update__password__container__input__text__error::placeholder {
  color: rgba(237, 237, 237, 1);
}
.update__password__container__input__error {
  color: #ee8d8d;
  margin-top: 4px;
  text-align: left;
  font-size: 14px;
}
.update__password__container__input__text::placeholder {
  color: rgba(237, 237, 237, 1);
}

.update__password__container__input__btn {
  position: relative;
  width: 220px;
  height: 54px;
  margin: 0;
  margin-left: 20px;
  margin-top: 108px;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  outline: 0;
  border-radius: 2px;
  line-height: 54px;
  border: 2px solid rgba(237, 237, 237, 1);
}

.update__password__container__input__btn:hover {
  background: #eee;
  color: #333;
}
.update__password__container__input__btn:active {
  color: #fff;
}

.update__error {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  color: red;
}

.update__form {
  height: 500px;
  width: 100%;
  margin-top: 40px;
}

.update__form__label {
  margin-top: 10px;
  position: relative;
  height: 100px;
  text-align: center;
}

.update__form__label__text {
  font-size: 20px;
  color: #333;
}

.update__form__input {
  display: flex;
  margin-left: calc(50% - 200px);
  margin-top: 10px;
  width: 400px;
  height: 45px;
  font-size: 16px;
  padding-left: 10px;
  color: #333;
  border: 0px;
  border-radius: 7px;
  background-color: rgb(201, 201, 201);
}

.update__form__btn {
  margin-top: 25px;
  margin-left: calc(50% - 200px);
  width: 400px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  border: 0px;
  border-radius: 7px;
  background-color: #333;
  cursor: pointer;
}

.update__form__cancel {
  margin-top: 2rem;
  text-align: center;
}

.update__form__cancel__link {
  color: #fff;
  font-size: 18px;
}

.update__form__delete {
  margin-top: 5rem;
  margin-left: calc(50% - 200px);
  width: 400px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  border: 0px;
  border-radius: 7px;
  background-color: #990f02;
  cursor: pointer;
}

.delete__heading {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.delete__container {
  margin-top: 2rem;
}

.delete__container__input {
  width: 300px;
  margin-left: calc(50% - 150px);
}

.delete__container__input__text {
  color: rgba(237, 237, 237, 1);

  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(237, 237, 237, 1);
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
  text-align: left;
}

.delete__container__input__text__error {
  color: rgba(237, 237, 237, 1);
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #ee8d8d;
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
  text-align: left;
}

.delete__container__input__btn {
  width: 300px;
  height: 54px;
  text-align: center;
  padding: 0 28px;
  user-select: none;
  cursor: pointer;
  margin-left: calc(50% - 150px);
  margin-top: 2rem;
  line-height: 54px;
  background-color: #990f02;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
}

.cancel__delete__btn {
  background-color: #fff;
  color: #333;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  .update__heading {
    font-size: 1.2rem;
  }
}

@media (max-width: 560px) {
  .update__heading {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .update__form__label__text {
    font-size: 16px;
  }

  .update__form__input {
    width: 300px;
    font-size: 14px;
    margin-left: calc(50% - 150px);
  }

  .update__form__btn {
    margin-left: calc(50% - 150px);
    width: 300px;
    font-size: 16px;
  }
}
