.alpha {
  position: fixed;
  background-image: url("../../../../public/images/blueDarkStoneCrop4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.alpha__container {
  position: relative;
  height: 600px;
  width: 100%;
  text-align: center;

  border: 1px solid transparent;
}

.alpha__container__heading {
  position: relative;
  margin-top: 80px;
  color: #333;
  font-size: 2.2rem;
}

.alpha__container__card {
  margin-top: 50px;
  margin-left: calc(50% - 200px);
  height: 150px;
  width: 400px;
  padding: 20px;
  color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px #000;
  background-color: #333;
}

.alpha__container__card__text {
  font-size: 20px;
}

.alpha__container__error {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  color: red;
}

.alpha__container__profile {
  margin-top: 50px;
  font-size: 1.3rem;
  text-align: center;
}

.alpha__container__profile__update {
  margin-top: 15px;
}

.alpha__container__profile__update__link {
  color: #000;
  font-size: 1rem;
  text-align: center;
}

.alpha__container__btn {
  position: relative;
  margin-top: 50px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  color: #333;
  border: 0px;
  box-shadow: 2px 2px #333;
}

@media (max-width: 450px) {
  .alpha__container__heading {
    font-size: 1.8rem;
  }

  .alpha__container__card {
    margin-left: calc(50% - 150px);
    width: 300px;
  }

  .alpha__container__card__text {
    font-size: 16px;
  }
}
