@import '../../global-styles/partials/global';

.landing {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $primary-background-color;
  overflow: scroll;
}

.landing__header__begin {
  margin-top: 9px;
  height: 32px;
  width: 75px;
  margin-right: 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;

  border: 1px solid #fff;
}

.landing__header__login {
  height: $nav-height;
  width: 60px;
  margin-right: 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  line-height: $nav-height;
  box-sizing: border-box;
  text-align: center;
}

.landing__header__login__avatar {
  font-size: 16px;
  cursor: pointer;
}

.landing__header__panel {
  top: $nav-height;
  height: calc(100% - 40px);
  overflow: scroll;
  background-color: $primary-background-color;
  border-left: $primary-background-color;
  border-right: $primary-background-color;
  transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 8000;
  width: 0;
  color: #c6c6c6;
  border: none;
  transition: width 0.11s;
  will-change: width;
}

.landing__header__panel--expanded {
  width: 360px;
}

@media (max-width: 720px) {
  .landing__header__panel--expanded {
    width: 100%;
  }
}

.landing__login__close {
  padding: 10px 20px;
}

.landing__login__close__btn {
  font-size: 28px;
  color: rgb(217, 216, 255);
}

@media (min-width: 720px) {
  .landing__login__close {
    display: none;
  }
}

.landing__container {
  background-image: url('../../../../public/images/mothership-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: scroll;
  height: 600px;
  color: #fff;
  text-align: center;
  opacity: 0.9;
}

@media (max-width: 500px) {
  .landing__container {
    height: 550px;
  }
}

.landing__container__main__logo {
  justify-content: center;
  margin-top: 180px;
  height: 100px;
}

@media (max-width: 620px) {
  .landing__container__main__logo {
    height: 80px;
  }

  .landing__container__main__logo img {
    width: 300px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .landing__container__main__logo {
    margin-top: 120px;
  }
}

.landing__container__main__subtitle {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
}

@media (max-width: 800px) {
  .landing__container__main__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .landing__container__main__subtitle {
    padding-top: 0px;
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .landing__container__main__subtitle {
    padding: 0px 15px 0px 15px;
    line-height: 25px;
  }
}

.landing__container__main__email {
  margin-top: 34px;
  height: 60px;
  max-width: unset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .landing__container__main__email {
    display: grid;
    margin-top: 5px;
  }
}

.landing__container__main__email__field {
  display: inline-block;
  box-shadow: none;
  margin-right: 24px;
  width: 240px;
  height: 54px;
}

@media (max-width: 500px) {
  .landing__container__main__email__field {
    margin-right: 0;
    width: 180px;
  }
  .btn__container {
    margin-top: 20px;
  }
}

.landing__container__main__email__field__input--error {
  border-bottom: 1px solid $primary-field-error;
  padding-top: 1px;
}

.landing__container__main__email__field__error {
  position: absolute;
  color: $primary-field-error;
  text-align: left;
  font-size: 14px;
  width: 240px;
  font-weight: 800;
}

@media (max-width: 450px) {
  .landing__container__main__email__field__error {
    margin-top: 10px;
  }
}

.landing__container__main__login {
  width: 355px;
  margin-left: calc(50% - 244px);
  display: flex;
}

@media (max-width: 500px) {
  .landing__container__main__login {
    display: none;
  }
}

.landing__container__main__login__text {
  font-size: 14px;
  cursor: pointer;
  font-style: oblique;
}

.landing__container__main__google {
  position: relative;
  padding-top: 10px;
}

.landing__container__main__google img {
  padding-top: 10px;
  cursor: pointer;
}

.landing__container__main__google img:active {
  opacity: 0.9;
}

@media (max-width: 501px) {
  .landing__container__main__google {
    margin-top: 70px;
  }
  .landing__container__main__google img {
    width: 150px;
  }
}
