*.cpp
__pycache__/
.cache/
.ipynb_checkpoints/
Untitled.ipynb
output/
tmp_*
*.py[cod]
*$py.class
*.db
*.swp
*.bck
.nfs*
.coverage
.mypy_cache/
pre_process.csv
/bazel-*

**/*.pyc
**/.idea
**/*~
**/.DS_Store
**venv/
configuration.py
**/*.pdf
**/*.ipynb

# Ignore all directories except those that are !-prefixed:
*
!example
