*.cpp
__pycache__/
.cache/
.ipynb_checkpoints/
Untitled.ipynb
output/
tmp_*
*.py[cod]
*$py.class
*.db
*.swp
*.bck
.nfs*
.coverage
.mypy_cache/
pre_process.csv
/bazel-*

**/*.pyc
**/.idea
**/*~
**/.DS_Store
**venv/
configuration.py
**/*.pdf
**/*.ipynb

# Ignore all directories except those that are !-prefixed:
*
!cedp
!deeplearning/AMG/manage.py
!deeplearning/AMG/Makefile
!deeplearning/AMG/metadata
!deeplearning/AMG/data_ingestion_new
!deeplearning/AMG/containers/cedp/proto
!deeplearning/AMG/containers/cedp/classifier_servicer.py
!deeplearning/AMG/containers/cedp/start.sh
!deeplearning/AMG/containers/requirements-alldeps-minimal.txt
!deeplearning/AMG/containers/requirements-alldeps.txt
