.splitter__hide .layout-pane {
  flex-basis: 76.19px;
}

.splitter__show .layout-pane {
  flex: 0 0 auto;
}

.toggle-up {
  position: absolute;
  right: 25px;
  width: 25px;
  height: 18px;
  margin-top: 6px;
  border: 0;
  z-index: 100;
  background-color: #fff;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.toggle-down {
  position: absolute;
  right: 25px;
  width: 25px;
  height: 18px;
  margin-top: 5px;
  border: 0;
  z-index: 100;
  background-color: #fff;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  transform: rotate(180deg);
}

.splitter--secondary{
  height: 100%;
}
