.splitter__hide .layout-pane {
  flex-basis: 76.19px;
}

.splitter__show .layout-pane {
  flex: 0 0 auto;
}

.toggle-up {
  position: absolute;
  right: 25px;
  width: 25px;
  height: 18px;
  margin-top: 6px;
  border: 0;
  z-index: 100;
  background-color: #fff;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.toggle-down {
  position: absolute;
  right: 25px;
  width: 25px;
  height: 18px;
  margin-top: 5px;
  border: 0;
  z-index: 100;
  background-color: #fff;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  transform: rotate(180deg);
}

.splitter--primary--pages {
  position: relative;
  text-align: center;
  top: 8rem;
  left: 35%;
  height: 100px;
  width: 30%;
  z-index: 1000;
  color: #000;

  border: 3px solid black;
}

.splitter--primary--pages a {
  color: #000;
  font-size: 14px;
}

.splitter--secondary{
  height: 100%;
}
