.uifooter {
  z-index: 5000;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #000;
  /* border-bottom: .1px solid grey; */
  border-top: .1px solid grey;
}

.uifooter--fish {
  float: right;
  position: relative;
  margin-right: 20px;
  padding-top: 10px;
}
