.form {
  position: relative;
  height: 100%;
  /* text-align: center; */
}

.form__login {
  margin-top: 50px;
  height: 60px;
  max-width: unset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__login__container {
  display: inline-block;
  box-shadow: none;
  margin-right: 24px;
  width: 240px;
  margin-top: 4px;
}

.form__login__container__input__text {
  color: rgba(237, 237, 237, 1);
  margin-top: 12px;
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: 4px;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(237, 237, 237, 1);
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
}

.form__login__container__input__text__error {
  color: #fff;
  margin-top: 12px;
  border-radius: 0;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: 4px;
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #ee8d8d;
  outline: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  appearance: textfield;
}

.form__login__container__input__text__error::placeholder {
  color: rgba(237, 237, 237, 1);
}

.form__login__container__input__error {
  color: #ee8d8d;
  margin-top: 4px;
  text-align: left;
  font-size: 14px;
}
.form__login__container__input__text::placeholder {
  color: rgba(237, 237, 237, 1);
}

.form__login__container__input__btn {
  display: inline-block;
  width: 140px;
  height: 54px;
  margin: 0;
  margin-top: 1.5rem;
  margin-left: calc(50% - 70px);
  user-select: none;
  cursor: pointer;
  color: #fff;
  /* background: #333; */
  background: transparent;
  padding: 0 28px;
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
  outline: 0;
  border-radius: 2px;
  line-height: 54px;
  /* box-shadow: 0 14px 34px -10px #333; */

  border: 2px solid rgba(237, 237, 237, 1);
}

.form__heading {
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
}

.form__error {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: red;
}
.form__input {
  margin-left: 5%;
  margin-top: 30px;
  width: 90%;
  height: 45px;
  font-size: 16px;
  padding-left: 10px;
  color: #fff;
  border: 0px;
  border-radius: 7px;
  background-color: #333;
}

.form__btn {
  margin-left: 12.5%;
  margin-top: 30px;
  width: 75%;
  height: 50px;
  font-size: 20px;
  color: #333;
  border: 0px;
  border-radius: 7px;
  background-color: #eee;
}

.form__googleBtn img {
  margin-left: 25%;
  cursor: pointer;
  /* margin-top: 10px; */
  width: 50%;
  height: auto;
}

.form__reset {
  text-align: left;
}

.form__reset__link {
  color: #eee;
  font-size: 14px;
}
