/* Carbon Modifications */
.landing .bx--header {
  height: 2rem;
}
.landing .bx--header__action {
  height: 2rem;
  width: 2rem;
  padding-right: 25px;
  padding-top: 5px;
}
.landing .bx--header-panel {
  top: 3.5rem;
  height: calc(100% - 3.5rem);
  overflow: scroll;
}

.landing .bx--header__global {
  flex: 0;
}

/* Component Styles */
/* .landing {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  border: 3px solid green;
} */
.landing__header {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10000;
  background-color: #0c0c0c;
  color: #fff;
}

.main {
  /* background-image: url("../../../../public/images/newTest/fore-night-winter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: rgb(170, 170, 170); */
  height: calc(100vh);
  background-color: #0c0c0c;
  overflow: scroll;
}

.main__sub {
  position: absolute;
  width: 100%;
  height: 1.5rem;
  top: 2rem;
  z-index: 1;
}
.main__sub__ticker {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #333;
  color: #fff;
  opacity: 0.85;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.main__sub__ticker__text {
  line-height: 10px;
  font-size: 14px;
  vertical-align: middle;
  margin-top: 8px;
  white-space: nowrap;
  margin-left: 3rem;
  padding-top: 0px;
  height: 30px;
}

#rssLink {
  text-decoration: none;
  color: #f4f4f4;
  padding-right: 3rem;
}

.main__background {
  background-image: url("../../../../public/images/blueDarkStone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  color: #fff;
  text-align: center;
  height: 60%;
  /* height: 60%; */
  padding: 135px 100px 200px;
}
.main__foreground {
  position: absolute;
  /* background-image: url("../../../../public/images/newTest/fore-night-winter.jpg"); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: 50%; */
  height: 40%;
  width: 100%;
}
.main__background__title {
  margin-top: 0px;
  font-size: 48px;
  font-weight: 400;
  /* color: #161c20; */
  color: #f4f4f4;
}
.main__background__title__sub {
  margin-top: 25px;
  font-weight: 800;
  padding-top: 10px;
}
.main__background__login {
  margin-top: 34px;
  margin-right: 20px;
  width: 127px;
  height: 40px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #000;
  text-decoration: none;
}
.main__background__register {
  margin-top: 34px;
  width: 127px;
  height: 40px;
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #000;
  background-color: #f4f4f4;
  opacity: 0.8;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}

.form {
  position: relative;
  height: 100%;
}
.form__back {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 14px;
  color: #f4f4f4;
  background: transparent;
  border: 0;
}
.form__back:hover {
  cursor: pointer;
}
.form__heading {
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
}
.form__field__input {
  margin-left: 5%;
  margin-top: 30px;
  width: 90%;
  height: 45px;
  font-size: 16px;
  padding-left: 10px;
  color: #fff;
  border: 0px;
  border-radius: 7px;
  background-color: #333;
}
.form__field__submitBtn {
  margin-left: 5%;
  margin-top: 30px;
  width: 90%;
  height: 50px;
  font-size: 20px;
  color: #333;
  border: 0px;
  border-radius: 7px;
  background-color: #eee;
}

/* MEDIA QUERIES */
@media (max-width: 1050px) {
  .main__background {
    height: 50%;
  }
}
@media (max-width: 500px) {
  .btn--mobile {
    display: grid;
    padding-left: calc(50% - 100px);
  }

  .main__background__login {
    margin-top: 5px;
    width: 200px;
  }
  .main__background__register {
    margin-top: 8px;
    width: 200px;
  }

  .main__background__title {
    height: 50px;
    width: 100%;
    font-size: 40px;
  }

  .main__background {
    background-size: 30rem;
    height: 40%;
    background-position: 50%;
    padding: 85px 0px 0px;
  }
}
@media (max-width: 920px) {
  .landing .bx--header-panel--expanded {
    width: 100%;
  }
  .main__background {
    height: 40%;
    padding: 100px 0px 100px;
  }
}
@media (max-width: 750px) {
  .main__background__title__sub {
    display: none;
  }
  .main__background {
    height: 35%;
  }
}

@media (max-height: 645px) {
  .main__background {
    padding: 85px 0px 0px;
  }
}

@media (max-width: 380px) {
  .main__background {
    height: 35%;
  }
}

@media (max-width: 450px) {
  #appSwitcher {
    display: none;
  }
}
